.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.roundButton {
  position: relative;
  border-radius: 50%;
  aspect-ratio: 1 / 1; /* ← mantiene il cerchio sempre perfetto */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.innerCircle {
  position: absolute;
  border-radius: 50%;
}
