.bubble-wrap {
  overflow: hidden;
  height: 550px;
}

.bubbles {
  position: relative;
}

.bubble {
  position: absolute;
  width: 150px;
  height: 150px;
  /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1); */
  background-image: url("/assets/logos/sprites4.png");
  background-size: 1200px 900px;
}

.logo1 {
  background-position: 0 0;
}
.logo2 {
  background-position: -154px 0;
}
.logo3 {
  background-position: -308px 0;
}
.logo4 {
  background-position: -462px 0;
}
.logo5 {
  background-position: -616px 0;
}
.logo6 {
  background-position: -770px 0;
}
.logo7 {
  background-position: -924px 0;
}
.logo8 {
  background-position: 0 -154px;
}
.logo9 {
  background-position: -154px -154px;
}
.logo10 {
  background-position: -308px -154px;
}
.logo11 {
  background-position: -462px -154px;
}
.logo12 {
  background-position: -616px -154px;
}
.logo13 {
  background-position: -770px -154px;
}
.logo14 {
  background-position: -924px -154px;
}
.logo15 {
  background-position: 0 -308px;
}
.logo16 {
  background-position: -154px -308px;
}
.logo17 {
  background-position: -308px -308px;
}
.logo18 {
  background-position: -462px -308px;
}
.logo19 {
  background-position: -616px -308px;
}
.logo20 {
  background-position: -770px -308px;
}
.logo21 {
  background-position: -924px -308px;
}
.logo22 {
  background-position: 0 -462px;
}
.logo23 {
  background-position: -154px -462px;
}
.logo24 {
  background-position: -308px -462px;
}
.logo25 {
  background-position: -462px -462px;
}
.logo26 {
  background-position: -616px -462px;
}
.logo27 {
  background-position: -770px -462px;
}
.logo28 {
  background-position: -924px -462px;
}
.logo29 {
  background-position: 0 -616px;
}
.logo30 {
  background-position: -154px -616px;
}
.logo31 {
  background-position: -308px -616px;
}
.logo32 {
  background-position: -462px -616px;
}
.logo33 {
  background-position: -616px -616px;
}

@media screen and (max-width: 840px) {
  .bubble-wrap {
    margin-top: 0;
  }

  .bubble {
    position: absolute;
    width: 128px;
    height: 128px;
    background-image: url("/assets/logos/sprite3.png");
    background-size: 896px 896px; /* ridimensionamento proporzionale: 1076 * (128/154) ≈ 896 */
  }

  .logo1 {
    background-position: 0 0;
  }
  .logo2 {
    background-position: -128px 0;
  }
  .logo3 {
    background-position: -256px 0;
  }
  .logo4 {
    background-position: -384px 0;
  }
  .logo5 {
    background-position: -512px 0;
  }
  .logo6 {
    background-position: -640px 0;
  }
  .logo7 {
    background-position: -768px 0;
  }
  .logo8 {
    background-position: 0 -128px;
  }
  .logo9 {
    background-position: -128px -128px;
  }
  .logo10 {
    background-position: -256px -128px;
  }
  .logo11 {
    background-position: -384px -128px;
  }
  .logo12 {
    background-position: -512px -128px;
  }
  .logo13 {
    background-position: -640px -128px;
  }
  .logo14 {
    background-position: -768px -128px;
  }
  .logo15 {
    background-position: 0 -256px;
  }
  .logo16 {
    background-position: -128px -256px;
  }
  .logo17 {
    background-position: -256px -256px;
  }
  .logo18 {
    background-position: -384px -256px;
  }
  .logo19 {
    background-position: -512px -256px;
  }
  .logo20 {
    background-position: -640px -256px;
  }
  .logo21 {
    background-position: -768px -256px;
  }
  .logo22 {
    background-position: 0 -384px;
  }
  .logo23 {
    background-position: -128px -384px;
  }
  .logo24 {
    background-position: -256px -384px;
  }
  .logo25 {
    background-position: -384px -384px;
  }
  .logo26 {
    background-position: -512px -384px;
  }
  .logo27 {
    background-position: -640px -384px;
  }
  .logo28 {
    background-position: -768px -384px;
  }
  .logo29 {
    background-position: 0 -512px;
  }
  .logo30 {
    background-position: -128px -512px;
  }
  .logo31 {
    background-position: -256px -512px;
  }
  .logo32 {
    background-position: -384px -512px;
  }
  .logo33 {
    background-position: -512px -512px;
  }
}
