.bubble-wrap {
  overflow: hidden;
  height: 550px;
}

.bubbles {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Bolla base */
.bubble {
  position: absolute;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  will-change: transform;
}

/* ======================
   LOGHI
====================== */

.logo1 {
  background-image: url("/assets/logos/logo_1.png");
}
.logo2 {
  background-image: url("/assets/logos/logo_2.png");
}
.logo3 {
  background-image: url("/assets/logos/logo_3.png");
}
.logo4 {
  background-image: url("/assets/logos/logo_4.png");
}
.logo5 {
  background-image: url("/assets/logos/logo_5.png");
}
.logo6 {
  background-image: url("/assets/logos/logo_6.png");
}
.logo7 {
  background-image: url("/assets/logos/logo_7.png");
}
.logo8 {
  background-image: url("/assets/logos/logo_8.png");
}
.logo9 {
  background-image: url("/assets/logos/logo_9.png");
}
.logo10 {
  background-image: url("/assets/logos/logo_10.png");
}
.logo11 {
  background-image: url("/assets/logos/logo_11.png");
}
.logo12 {
  background-image: url("/assets/logos/logo_12.png");
}
.logo13 {
  background-image: url("/assets/logos/logo_13.png");
}
.logo14 {
  background-image: url("/assets/logos/logo_14.png");
}
.logo15 {
  background-image: url("/assets/logos/logo_15.png");
}
.logo16 {
  background-image: url("/assets/logos/logo_16.png");
}
.logo17 {
  background-image: url("/assets/logos/logo_17.png");
}
.logo18 {
  background-image: url("/assets/logos/logo_18.png");
}
.logo19 {
  background-image: url("/assets/logos/logo_19.png");
}
.logo20 {
  background-image: url("/assets/logos/logo_20.png");
}
.logo21 {
  background-image: url("/assets/logos/logo_21.png");
}
.logo22 {
  background-image: url("/assets/logos/logo_22.png");
}
.logo23 {
  background-image: url("/assets/logos/logo_23.png");
}
.logo24 {
  background-image: url("/assets/logos/logo_24.png");
}
.logo25 {
  background-image: url("/assets/logos/logo_25.png");
}
.logo26 {
  background-image: url("/assets/logos/logo_26.png");
}
.logo27 {
  background-image: url("/assets/logos/logo_27.png");
}
.logo28 {
  background-image: url("/assets/logos/logo_28.png");
}
.logo29 {
  background-image: url("/assets/logos/logo_29.png");
}
.logo30 {
  background-image: url("/assets/logos/logo_30.png");
}
.logo31 {
  background-image: url("/assets/logos/logo_31.png");
}
.logo32 {
  background-image: url("/assets/logos/logo_32.png");
}
.logo33 {
  background-image: url("/assets/logos/logo_33.png");
}

.logo34 {
  background-image: url("/assets/logos/logo_34.png");
}

.logo35 {
  background-image: url("/assets/logos/logo_35.png");
}

.logo36 {
  background-image: url("/assets/logos/logo_36.png");
}

.logo37 {
  background-image: url("/assets/logos/logo_37.png");
}

.logo38 {
  background-image: url("/assets/logos/logo_38.png");
}

.logo39 {
  background-image: url("/assets/logos/logo_39.png");
}

.logo40 {
  background-image: url("/assets/logos/logo_40.png");
}

.logo41 {
  background-image: url("/assets/logos/logo_41.png");
}

.logo42 {
  background-image: url("/assets/logos/logo_42.png");
}

.logo43 {
  background-image: url("/assets/logos/logo_43.png");
}

.logo44 {
  background-image: url("/assets/logos/logo_44.png");
}

.logo45 {
  background-image: url("/assets/logos/logo_45.png");
}

.logo46 {
  background-image: url("/assets/logos/logo_46.png");
}
.logo47 {
  background-image: url("/assets/logos/logo_47.png");
}

.logo48 {
  background-image: url("/assets/logos/logo_48.png");
}
/* ======================
   MOBILE
====================== */

@media (max-width: 840px) {
  .bubble {
    width: 150px;
    height: 150px;
  }
}
