@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b1b1c;
  --logo1: #368b90;
  --logo2: #bb5471;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tactico Grunge";
  src: url("/fonts/Tactico-Grunge.otf") format("truetype");
  font-display: swap;
}

.clear {
  font-family: "Claerface Std";
  src: url("/fonts/ClearfaceStd.woff") format("truetype");
  font-display: swap;
}

.tactico {
  font-family: "Tactico Grunge";
  src: url("/fonts/Tactico-Grunge.otf") format("truetype");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  transition-property: background-color, color, border-color, filter, transform,
    opacity;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.13, 0.37, 0.06, 0.99);
}

h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3,
input,
label {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fill_cta:hover,
.fill_cta:focus {
  box-shadow: inset 0 0 0 2em #368b90;
  color: white;
}

.tippy {
  width: max-content !important;
}

.tippy-box {
  position: relative;
}

.tippy-content {
  white-space: nowrap;
  background-color: #bb5471; /* Assicurati che questo colore sia coerente con il resto del design */
  padding: 8px; /* Aggiungi un po' di padding per migliorare la leggibilità */
  display: inline-block;
  text-align: center; /* Centra il contenuto */
  border-radius: 2px !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.tippy-arrow {
  color: #bb5471 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinAndBounce {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  25% {
    transform: rotate(90deg) translateY(-10px);
  }
  50% {
    transform: rotate(180deg) translateY(0);
  }
  75% {
    transform: rotate(270deg) translateY(-10px);
  }
  100% {
    transform: rotate(360deg) translateY(0);
  }
}

.button-spin-bounce {
  animation: spinAndBounce 2s linear infinite;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* default (light) */
.contact-form__input {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  background: transparent;
  border-radius: 0;
  display: inline-block;
  outline: none;
  padding: 0.48vw 0;
  text-align: center;
  transition: border-color 0.32s ease;
  width: 100%;
}

/* when you toggle .dark on <html> or <body> */
.dark .contact-form__input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@layer utilities {
  .bg-pattern {
    background-image: url("../public/assets/pattern.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    background-position: bottom right;
  }
  .animate-spin {
    animation: spin 5s linear infinite;
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  .text-stroke {
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  }

  .text-stroke-dark {
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
    -webkit-text-stroke-width: 0.6px;
  }
}
#bgIntro {
  background: rgba(0, 0, 0, 0.9); /* Inizia quasi nero */
  transition: opacity 1.2s ease-in-out; /* Sfuma gradualmente */
}

.text-stroke2 {
  -webkit-text-stroke-width: 1.5px !important;
  -webkit-text-stroke-color: rgb(54, 139, 144) !important;
  color: transparent;
}

.text-stroke3 {
  -webkit-text-stroke-width: 1.5px !important;
  -webkit-text-stroke-color: rgb(187, 84, 113) !important;
  color: transparent;
}

.text-stroke4 {
  -webkit-text-stroke-width: 1.5px !important;
  -webkit-text-stroke-color: rgb(27, 27, 28) !important;
  color: transparent;
}

.text-stroke5 {
  color: #1b1b1c;
  background: linear-gradient(
    90deg,
    #bb5471,
    #368b90,
    #1b1b1c,
    #ffffff,
    #daa444,
    #bb5471
  );

  -webkit-background-clip: text; /* gradient applicato al testo */
  -webkit-text-stroke: 1.5px transparent;
  animation: gradient-move 6s linear infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 24vw;
  text-align: center;
  mix-blend-mode: screen;
  background-color: #ffffff;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Tactico Grunge";
  src: url("/fonts/Tactico-Grunge.otf") format("truetype");
  font-style: normal;
}

.progress-bar-container {
  width: 100%;
  background-color: rgba(255, 105, 180, 0.2); /* bg-pink/20 */
  border-radius: 9999px;
  height: 10px; /* altezza della barra di progresso */
  margin-bottom: 1rem;
}

.progress-bar {
  height: 100%;
  background-color: #368b90; /* bg-second */
  border-radius: 9999px;
  transition: width 0.5s ease; /* Durata e tipo di transizione */
}

@layer base {
  body {
    @apply dark:bg-[#ececec];
  }
}

body {
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 840px) {
  .bg-blur {
    -webkit-filter: blur(180px); /* Ridotto il valore del blur */
    filter: blur(180px); /* Ridotto il valore del blur */
  }

  .bg-blur .bg-circle {
    top: 30%;
  }

  .bg-blur .bg-circle._4 {
    margin-top: 30%;
    margin-right: 10%;
  }

  .tippy-content {
    white-space: wrap;
  }
}

/* Marquee styles */
.marquee {
  --gap: 6rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  width: 90%;
  margin: 0 auto;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: fit-content;
}

.marquee__content .logo {
  width: 120px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.active {
  color: var(--red);
}
/* Enable animation */
.enable-animation .marquee__content {
  animation: scroll 8s linear infinite;
}

/* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
.marquee--fit-content {
  max-width: fit-content;
}

/* A fit-content sizing fix: Absolute position the duplicate container. This will set the size of the parent wrapper to a single child container. Shout out to Olavi's article that had this solution 👏 @link: https://olavihaapala.fi/2021/02/23/modern-marquee.html  */
.marquee--pos-absolute .marquee__content:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

/* Enable position absolute animation on the duplicate content (last-child) */
.enable-animation .marquee--pos-absolute .marquee__content:last-child {
  animation-name: scroll-abs;
}

@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

/* Other page demo styles */
.marquee__content > * {
  flex: 0 0 auto;
  color: var(--main);
  margin: 2px;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-align: center;
}

.eapps-widget-toolbar {
  display: none !important;
}

.huflDf {
  display: none !important;
}

.bNlWwC {
  margin-left: 0 !important;
}

.Main__Container-sc-1w4nyzp-0 .kzANES .es-main-container a {
  display: none !important;
}

.lineMask {
  overflow: hidden;
}

.lineMask p {
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .toggle {
    width: 32px;
    height: 16px;
  }
}
