.video-mask-section {
  position: relative;
}

.mask-container {
  position: relative;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 2;
  margin-right: 20rem;
}

.video-wrapper {
  position: absolute; /* ✅ resta dentro la section */
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
  z-index: 1;
  margin-top: 100px;
  display: flex;
  justify-content: center; /* centro orizzontale */
  align-items: center; /* centro verticale */
}

.video-wrapper video.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desktop-only {
  visibility: visible;
}

.mid-only {
  visibility: hidden;
}

.extra-desktop-only {
  visibility: hidden;
}

.large-desktop-only {
  visibility: hidden;
}

@media (max-width: 768px) {
  .desktop-only {
    visibility: hidden;
  }
  .mid-only {
    visibility: visible;
  }

  .extra-desktop-only {
    visibility: hidden;
  }

  .large-desktop-only {
    visibility: hidden;
  }

  .video-wrapper {
    height: calc(100vh - 70px);
    margin-top: 70px;
  }
}

/* mid-desktop: da 768 a 1599px */
@media (min-width: 769px) and (max-width: 1600px) {
  .mid-only {
    display: block;
  }

  .desktop-only {
    visibility: hidden;
  }

  .extra-desktop-only {
    visibility: hidden;
  }

  .large-desktop-only {
    visibility: hidden;
  }
}

@media (min-width: 2559px) {
  .video-wrapper {
    height: 100vh;
    margin-top: 220px;
  }
  .desktop-only {
    visibility: hidden;
  }

  .mid-only {
    display: hidden;
  }

  .desktop-only {
    visibility: hidden;
  }

  .extra-desktop-only {
    visibility: visible;
  }

  .large-desktop-only {
    visibility: hidden;
  }
}

@media (min-width: 3999px) {
  .video-wrapper {
    height: 100vh;
    margin-top: 220px;
  }
  .desktop-only {
    visibility: hidden;
  }

  .mid-only {
    display: hidden;
  }

  .desktop-only {
    visibility: hidden;
  }

  .extra-desktop-only {
    visibility: hidden;
  }

  .large-desktop-only {
    visibility: visible;
  }
}

@keyframes scroll-indicator {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(120%);
  }
}

.animate-scroll-indicator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateX(-120%);
  animation: scroll-indicator 1.25s linear infinite;
}
