.sliderContainer {
  display: flex;
  height: 10vh;
  overflow: hidden;
  align-items: center;
  width: 120vw;
}

.sliderItems {
  position: relative;
  white-space: nowrap;
}

.sliderItems p {
  position: relative;
  margin: 0px;
  font-size: 50px;
  padding-right: 50px;
}

.sliderItems p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.sliderItems p:nth-of-type(3) {
  position: absolute;
  left: 200%;
  top: 0;
}

.sliderItems p:nth-of-type(4) {
  position: absolute;
  left: 300%;
  top: 0;
}

.sliderItems p:nth-of-type(5) {
  position: absolute;
  left: 400%;
  top: 0;
}

.sliderItems p:nth-of-type(6) {
  position: absolute;
  left: 500%;
  top: 0;
}

/* Loghi Marquee */

.sliderItems2 {
  position: relative;
  white-space: nowrap;
  display: inline-block;
}

.sliderItems2 img {
  width: 100px;
  height: 100px;
}

.sliderItems img:nth-of-type(n + 1) {
  position: absolute;
  left: calc(100% + (n - 3) * 100%);
  top: 0;
}

@media screen and (max-width: 768px) {
  .sliderContainer {
    height: 15vh;
  }
  .sliderItems p {
    font-size: 40px;
  }

  .sliderItems2 img {
    width: 80px;
    height: 80px;
  }
}
