.marquee2 {
  font-size: 10vw;
  height: 7vw;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.text-stroke {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.486);
  color: transparent;
}

.text-stroke:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);
}

.dark .text-stroke:hover {
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: rgba(41, 41, 41, 0.8);
}
/* nested div inside the container */
.content2 {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: marquee 12s linear infinite;
}
/* span with text */
.marquee2 span {
  float: left;
  width: 20%;
}
/* keyframe */
/* @keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
} */

@media screen and (max-width: 768px) {
  .marquee2 {
    font-size: 10vw;

    height: 12vw;
  }

  .marquee2 span {
    width: 40%;
  }
}
