.mainMask {
  margin-bottom: 100vh;
  position: relative;
  z-index: 999999;
  overflow: hidden;
}

.Maskcontainer {
  position: relative;
  height: 100vh;
  z-index: 10; /* Sotto la Hero */
  overflow: hidden;
}

.stickyMask {
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 5; /* Al di sotto della Hero */

  /* Maschera */
  mask-image: url("/assets/logo_pieno.png");
  -webkit-mask-image: url("/assets/logo_pieno.png");

  mask-position: center;
  -webkit-mask-position: center;

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: 35%; /* Parte iniziale piccola */
  -webkit-mask-size: 35%;

  mask-type: alpha;
  -webkit-mask-type: alpha;

  transform-origin: center;

  will-change: transform, mask-size, -webkit-mask-size, opacity;
  background-color: #000000;
  transform: translate(0, 0); /* Aggiunta consigliata */
}

.video-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  will-change: transform, opacity;
}

.blurry-lights {
  position: absolute;
  inset: 0;
  z-index: 5;
}

.stickyMask .video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.payoffContainer {
  position: relative;
  top: -40vh;
  text-align: center;
  z-index: 15;
}

.scrollRef {
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.mouse-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -25px);
  -ms-transform: translate(-50%, -25px);
  transform: translate(-50%, -25px);
  display: inline-block;
  height: 36px;
}

@media print, screen and (min-width: 64em) {
  .mouse-icon {
    height: 40px;
    -webkit-transform: translate(-50%, -40px);
    -ms-transform: translate(-50%, -40px);
    transform: translate(-50%, -40px);
  }
}

.mouse-icon svg {
  height: 100%;
  width: auto;
}

.mouse-icon svg .cursor {
  -webkit-animation: mouseCursorNew;
  animation: mouseCursorNew;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes mouseCursorNew {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
  }
}

@keyframes mouseCursorNew {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .stickyMask {
    mask-size: 80%;
    -webkit-mask-size: 80%;
  }
  .payoffContainer {
    top: -42vh; /* Adatta la posizione per mobile */
  }
}

@media screen and (min-width: 769px) and (max-width: 850px) {
  .stickyMask {
    mask-size: 70%;
    -webkit-mask-size: 70%;
  }
  .payoffContainer {
    top: -42vh; /* Adatta la posizione per mobile */
  }
}

/* esempio maschera */

.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.mask {
  height: 100vh;
  width: 100vw;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: screen;
  z-index: 2;
  position: relative;
}

h2 {
  font-size: 150px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 90px;
  }
}
