.reveal-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.reveal-container svg {
  width: 100%;
  height: 100%;
}

.reveal-mask {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 99999; /* Assicura che il testo sia sopra l'SVG */
}

.gallery {
  height: 175vh;
  background: rgb(45, 45, 45);
  position: relative;
  display: flex;
  gap: 2vw;
  padding: 2vw;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}

.gallery .column {
  position: relative;
  height: 100%;
  width: 33%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.gallery .column .imageContainer {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
}

.gallery .column .imageContainer img {
  object-fit: cover;
}

.gallery .column:nth-of-type(1) {
  top: -45%;
}

.gallery .column:nth-of-type(2) {
  top: -95%;
}

.gallery .column:nth-of-type(3) {
  top: -45%;
}

.spacer {
  height: 20vh;
}

@media screen and (max-width: 768px) {
  .gallery {
    height: 100vh; /* Allow the gallery height to adjust based on content */
  }

  .gallery .column {
    width: 50%; /* Each column takes full width on mobile */
    top: 0; /* Reset the top position */
  }
  .gallery .column:nth-of-type(1),
  .gallery .column:nth-of-type(2),
  .gallery .column:nth-of-type(3) {
    top: 0; /* Reset the top position for all columns */
  }
}

#cont {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.slide {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  height: 100vh;
  opacity: 0;
}

.slide > div {
  width: 100%;
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 768px) {
  .reveal-container svg {
    width: fit-content;
    height: fit-content;
  }
  #cont {
    height: 70vh;
  }
  .slide {
    flex-direction: column;
    padding: 0;
    gap: 20px;
    justify-content: center;
  }
}
